/* 바로가기메뉴설정 시작 */
.hidden{
    width:1px; height:1px; font-size:0px; line-height:0px; position:absolute;
  }
  ul#skipmenu li a{
    width:1px; height:1px; font-size:0px; line-height:0px; position: absolute; z-index:999999;
  }
  ul#skipmenu li a:focus{
      width:100%; height:30px; display:block; background:black; line-height: 30px;
      font-size: 14px; color:white; text-align: center;
      text-decoration: none;
  }
  /* 바로가기메뉴설정 끝 */
  
  /* 상단영역설정 시작 */
  header#header_wrap{
      width: 100%; height:80px;
      position: absolute; left:0px; top:0px; z-index:5;
  }
  
  h1#logo{
    width:82px; height:49px; 
    position:fixed; left:100px; top:30px; overflow: hidden;
  }
  /* h1#logo_blue{
    width:82px; height:49px; 
    position: fixed; left:100px; top:60px; display: none;
  } */
  
  
  h1#logo>a>img{
    width:100%; position:absolute; left:0px; top:0px;
  }
  
  
  
  /* 탑메뉴 */
  div#top_menu_wrap{
    width:470px; height:38px; 
    position: absolute; right:30px; top:30px; z-index:2; 
  }
  nav#top_menu{
    width:209px; height:14px; float:left; 
  }
  ul#top_menu_list{
    width:100%; height:100%; margin-top:8px; 
  }
  ul#top_menu_list>li{
    width:33.33%; height:100%; float:left; text-align: center; margin-top:3px;
  }
  ul#top_menu_list>li>a{
    font:normal 12px/14px "Noto Sans KR"; color:white;
    text-decoration: none;
  }
  select{
    border:none; background:none; color:white;
  }
  select option{
    background:#2d2d2d;  border:transparent;
    padding:3px 0px;
  }
  p#search_bar{
    width:242px; height:38px; border-radius: 30px; line-height: 38px; border:solid 1px white; float:right;
    margin-bottom:20px;
  }
  p#search_bar>input{
    background:none; border:none; color:white; outline:none;
    margin-left:8%;
  }
  p#search_bar>button{
      background:none; border:none;
  }
  p#search_bar>button>i{
    color:white; margin-left:5%; font-size:14px;
  }


   /* 죄측메뉴바 */
  
   nav#menu_bar{
    width:70px; height:100%; float:left; border-right:solid 1px white; 
     position: fixed; left:0px; top:0px; z-index: 11; display: block;
}

/* 햄버거메뉴 효과*/
.col {
    display: block;
    float:left;
    margin: 1% 0 1% 1.6%;
    

    
    
}

.col:first-of-type {
  margin-left: 0;
}

.three{
    padding:30px 20px;
    box-sizing: border-box;
    color: white;
    text-align: center;
    position: absolute; right:0px; top:0px; z-index: 9999; 
    
   
}
  
.hamburger .line{
    width: 30px;
    height: 3px;
    background-color:white;
    display: block;
    margin: 6px auto;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;

    
    
    
    
}
  
.hamburger:hover{
    cursor: pointer;
}
  
#hamburger-6.is-active{
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-transition-delay: 0.5s;
    -o-transition-delay: 0.5s;
    transition-delay: 0.5s;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
  
#hamburger-6.is-active .line:nth-child(2){
    width: 0px;
}
  
#hamburger-6.is-active .line:nth-child(1),
#hamburger-6.is-active .line:nth-child(3){
    -webkit-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    transition-delay: 0.3s;
}
  
#hamburger-6.is-active .line:nth-child(1){
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    -o-transform: translateY(6px);
    transform: translateY(6px);
}
  
#hamburger-6.is-active .line:nth-child(3){
    -webkit-transform: translateY(-13px) rotate(90deg);
    -ms-transform: translateY(-13px) rotate(90deg);
    -o-transform: translateY(-13px) rotate(90deg);
    transform: translateY(-13px) rotate(90deg);
}


ul#menu_bar_text_list{
    width:100%; height:400px; position: absolute; bottom: 0px; left: 0px;
}
ul#menu_bar_text_list>li{
    width:100%; height:auto; text-align: center; padding:25px 0px; box-sizing: border-box;
    border-bottom:solid 1px white;
    writing-mode: vertical-rl; transform:rotate(180deg);
}
ul#menu_bar_text_list>li>a{
    font:normal 16px/65px "Noto Sans"; text-decoration: none; color:white;
}

/* 메인메뉴창 */
section#main_menu_wrap{
    width:0px; height:980px; 
    position:absolute; left:0px; top:0px;
    background:black; opacity:0.2; z-index:15; display: none;
      
}
div#left_menu_logo{
    width:21.8125%; height:100%; float:left; 
    position: relative; left:0px; top:0px; z-index:9;
}
div#left_menu_logo>img{
    width:132px; height:79px; 
    margin:0px auto;
    position:relative; left:50%; margin-left:-66px; top:50%; margin-top:-39.5px; 
}
ul#logo_bottom_text_list{
    width:100%; height:30px;
    position:absolute; left:80px; top:620px;
}
ul#logo_bottom_text_list>li{
    color:white; font:bold 14px "Noto Sans";
    position:relative; left:0px; top:0px;
}
ul#logo_bottom_text_list>li::after{
    content:""; display:block;
    width:62px; height: 1px; background:white;
    position: absolute; left:0px; top:27px;
}
p.logo_bottom_smalltext{
    font:normal 12px "Noto Sans KR"; color:white;
    margin-top:20px; margin-bottom: 32px;
}


ul#main_menu_list{
    width:78.1875%; height:100%; float:left;
}
ul#main_menu_list>li{
    width:33.33%; height:50%; float:left;
    border:solid 1px white; border-right:none; border-bottom:none; box-sizing:border-box;
    padding:71px 51px;
    transition:0.3s ease;
    
}
ul#main_menu_list>li:nth-child(4){
    clear:both;
}
ul#main_menu_list>li>a{
    font:bold 30px "Noto Sans KR"; color:white;
    text-decoration: none;
}
ul#main_menu_list>li:hover{
    background:#323232;
}
ul.sub_menu_list{
    width:100%; height:204px;
    margin-top:30px; 
}
ul.sub_menu_list li{
    width:100%; height:34px;
}
ul.sub_menu_list li>a{
    font:normal 18px/34px "Noto Sans KR"; text-decoration: none; color:white;
}
ul.sub_sub_menu_list{
    width:100%; height:auto; 
    margin-bottom: 20px; float:left;
}
ul.sub_sub_menu_list>li{
    width:100%; height:34px; 
}
ul.sub_sub_menu_list>li>a{
    font:lighter 18px/34px "Noto Sans KR"; text-decoration: none; color:white;
}
  
  
  /* 상단영역설정 끝 */
  
  /* 컨텐츠영역설정 시작 */
  /* 1페이지-메인비주얼*/
  
  div.visual_wrap{
      width:100%; height:980px; float:left; 
      position: relative; right:0px; top:0px;
      
  }
  
 
  
  
  
  /* 우측스크롤메뉴 */
  nav#right_scroll_menu{
      width:100px; height:135px; 
      position:absolute; right:0px; top:420px;
      margin-right:22px; z-index:3; 
  
      /* position: fixed; right:0px; top:420px; */
  }
  ul#right_scroll_menu_list{
      width:auto; height:135px; 
  }
  ul#right_scroll_menu_list>li{
      width:auto; height:15px; margin-bottom:8px; text-align: right;
      position:relative; left:0px; top:0px;
  }
  ul#right_scroll_menu_list>li>a{
      font:normal 12px "Noto Sans KR"; text-decoration: none; color:white; padding:0px 2px; box-sizing: border-box;
  }
  
  ul#right_scroll_menu_list>li>a.selected_white{
      background:white; color:black !important;
  }
  
  ul#right_scroll_menu_list>li>a.selected_black{
      background:black; color:white !important;
  }
  /* ul#right_scroll_menu_list>li>a.selected_white::before{
      content:""; display:block;
      width:7px; height:7px; background:white;
      position:absolute; right:-17px; top:5px;
  } 
  ul#right_scroll_menu_list>li>a>.selected_black::after{
      content:""; display:block;
      width:6px; height:6px; background-color: white;
      transform:rotate(45deg);
      position:absolute; right:-3px; top:6px; z-index:-1;
  }  */
  ul#right_scroll_menu_list>li>a>span{
      /* content:"";  */
      display:none;
      width:6px; height:6px; background-color: white;
      transform:rotate(45deg);
      position:absolute; right:-3px; top:6px; z-index:-1;
  }
  
  /* 하단 스크롤메뉴 */
  
  @keyframes scroll_down_ani{
      0%{bottom: 12px;}
      30%{bottom: 15px;}
      50%{bottom: 17px;}
      70%{bottom: 15px;}
      90%{bottom: 12px;}
      100%{bottom: 10px;}
  }
  div#main_bottom_scroll_down{
      width:115px; height:40px;
      text-align: center;
      position: fixed; left:50%; margin-left:-57.5px; bottom: 10px; z-index:4;
      animation:scroll_down_ani 1.5s ease-out infinite;
  }
  div#main_bottom_scroll_down>a{
      font:normal 15px "Noto Sans KR"; color:white; text-decoration: none;
  }
  
  
  /* 비주얼 */
  div#main_visual_bg{
      background:#2d2d2d;
      
  }
  
  
  
  
  div#visual_bg_wrap{
      width: 1150px; height: 100%; position: absolute; left:0px; top: 0px; float: left;
  }
  
  ul#visual_bg_list{
      width:100%; height:100%;
      position: absolute; right:0px; top:0px; z-index:2; float:left;
      overflow:hidden; 
  }
  
  ul#visual_bg_list>li{
      width:0%; height:100%;
      position: absolute; right:0px; top:0px; z-index:0; 
       
  }
  
  ul#visual_bg_list>li:nth-child(1){
      width: 100%; background: #6D1A00;
  }
  /* ul#visual_bg_list>li:nth-child(2){
       background:#005C8F ;
  }
  ul#visual_bg_list>li:nth-child(3){
      background:#505050 ;
  } */
  
  
  /* div.new_visual_bg_slide{
      width:0%; height:100%;
      position: absolute; right:0px; top:0px; z-index:1; float:left;
      overflow:hidden; background-color: black;
  }
  
  div.visual_bg_slide{
      width:100%; height:100%;
      position: absolute; left:0px; top:0px; z-index:0; float:left;
      overflow:hidden; background:#6D1A00;
  }  */
  
  
  
  
  
  section.visual_inner{
      width:1200px; height:100%; margin:0px auto;
      position: relative; left:0px; top:0px;  overflow: hidden;
  }
  
  
  
  
  /* div.new_visual_img_list{
      width:0px; height:100%; 
      position: absolute; right:0px; top:0px; z-index:3;  
  } */
  
  /* div.new_visual_img_list>img{
      width:820px; height:642px;  position:absolute; left:0px; top:0px; 
  } */
  
  /* div.visual_img_list{
      width:100%; height:100%;  
      position: absolute; right:0px; top:0px; z-index:2;
  }
  
  div.visual_img_list>img{
      width: 100%;   
  } */
  
  
  div#visual_img_wrap{
      width: 820px; height: 642px;  margin-top:125px; position: absolute; right:0px; top:0px; z-index:3; overflow: hidden;
  }
  
  ul#main_visual_img_list{
      width: 100%; height: 100%;
  }
  
  
  ul#main_visual_img_list>li{
      width:0%; height:100%; float:right; 
      position: absolute; right:0px; top:0px; z-index:0; 
  }
  
  ul#main_visual_img_list>li:nth-child(1){
      width: 100%;
  }
  
  ul#main_visual_img_list>li>img{
      width: 820px; 
  } 
  
  
  /* 메인비주얼텍스트 */
  ul#main_visual_text_list{
      width:380px; height:256px; float:left;
      position: absolute;; left:0px; top:32%; z-index:2;
  }
  
  ul#main_visual_text_list>li{
      width: 100%; height: 100%; position: absolute; left: 0px; top: 60px; display: none; opacity: 0.5;
  }
  
  h3.top_title{
      height:19px; font:normal 16px "Noto Sans KR"; 
      padding-bottom:9px; color:white;
  }
  h3#main_title_bar{
      width:80px; border-bottom: solid 1px white;
  }
  p.main_title{
      font:normal 52px "Noto Sans KR"; margin-bottom:25px; margin-top:29px; color:white;
  }
  p#main_visual_sub_title{
      font:normal 18px "Noto Sans KR"; margin-top:5px;
      color:white; 
  }
  p#main_visual_plus_icon{
      margin-top:35px; font-size:22px; color:white;
  }
  
  
  
  
  
  
  /* div.visual_wrap{
      width:100%; height:980px; float:left; 
      position: relative; left:0px; top:0px;
  }
  section.visual_inner{
      width:1200px; height:100%; margin:0px auto;
      position: relative; left:0px; top:0px;
  }
  
  div#main_visual_bg{
      background:#2d2d2d;
  }
  ul#main_visual_list{
      width:100%; height:100%; 
  }
  ul#main_visual_list>li{ 
      width:100%; height:100%; float:left;
      position: absolute; left:0px; top:0px; z-index:1;
  }
  ul#main_visual_list>li>img{
      width:820px; height:642px; float:right; margin-top:125px;
      position: relative; left:0px; top:0px; z-index:2;
  }
  p.main_visual_bg{
      width:1150px; height:100%;
      position: absolute; left:-352px; top:0px; z-index:0; float:left;
  }
  p#first_bg_color{
      background:#6D1A00; 
  }
  p#second_bg_color{
      background:#005C8F;
  }
  p#third_bg_color{
      background: #505050;
  } */
  
  /* 메인비주얼텍스트 */
  /* div.main_visual_text{
      width:380px; height:256px; float:left;
      position:relative; left:0px; top:320px; z-index:2;
  }
  h3.top_title{
      height:19px; font:normal 16px "Noto Sans KR"; 
      padding-bottom:9px; color:white;
  }
  h3#main_title_bar{
      width:80px; border-bottom: solid 1px white;
  }
  p.main_title{
      font:normal 52px "Noto Sans KR"; margin-bottom:25px; margin-top:29px; color:white;
  }
  p#main_visual_sub_title{
      font:normal 18px "Noto Sans KR"; margin-top:5px;
      color:white; 
  }
  p#main_visual_plus_icon{
      margin-top:35px; font-size:22px; color:white;
  } */
  
  
  
  /* 메인페이지 슬라이드 우측 버튼 및 번호 */
  div#main_slide_control_wrap{
      width:313px; height:80px; 
      margin-top:590px;
      position: absolute; left:0px; bottom:100px; z-index:4;
      
  }
  ul.btn_wrap{
      width:30%; height:50%; float: left;
  }
  ul.btn_wrap>li{
      width:33.33%; height:100%; float:left; text-align: center;
      font-size:25px; color:white; line-height:50px; cursor: pointer; position: relative; left: 0px; top: 0px;z-index: 6;
  }
  p.play_btn{
      font-size: 35px; color: white; position: absolute; left:11.1%; top:7.5px; opacity: 0; z-index: 5;
  }
  p.play_btn_black{
      color: black;
  }
  ul.slide_number{
      width:70%; height:50%; float:left;
      margin-bottom:10px; 
  }
  ul.slide_number>li{
      width:33.33%; height:100%; float:left; text-align: center;
      font:normal 20px "Noto Sans KR"; color:white; 
      text-decoration: none; line-height:50px; cursor: pointer;
  } 
  
  
   ul.slide_number>li>a{
      font:normal 20px "Noto Sans KR"; color:white;
      text-decoration: none; line-height:50px;
  } 
  
  
   ul.slide_number>li.selected{
      font-weight:bold;
  }
  
  p#main_slide_bar{
      width:100%; height:1px; background:rgba(255, 255, 255, 0.89);
      position:absolute; left:0px; top:50px; z-index:3;
  }
  p#main_slide_bar>span{
    width:67px; height:3px; background:white; display: block; margin-left:110px; margin-top: -1px; position: relative;left: 0px; top: 0px;
  }
  p#main_slide_text{
      width:100%; height:50%; font:normal 16px "Noto Sans KR"; float:left; padding:10px 0px; box-sizing: border-box; color:white;
  } 
  
  
  /* 2페이지 - 코비드*/
  ul#contents_covid_slide{
      width:300%; height:100%; float:left; position: relative; left: 0px; top: 0px;
       
  }
  ul#contents_covid_slide>li{
      width:33.3334%; height:100%; float:left;
  }
  ul#contents_covid_slide>li>img{
      width:833px; height:577px; float:left;
      margin-top:12%; position: relative; left: 0px; top: 0px; z-index: -1;
  }
  
  div#contents_covid_txt{
      width:254px; float:left; 
      margin-left:99px; margin-top:23%; 
  }
  h3#covid_title_bar{
      color:black; 
      width:105px; border-bottom: solid 1px black;
  }
  div#contents_covid_txt>p{
      color:black;
  }
  p#covid_sub_title{
      width:254px; font:normal 20px "Noto Sans KR"; 
      margin-bottom:73px;
  }
  
  button#covid_btn{
      width:251px; height:52px; border:solid 1px black;
      text-align: center; background:none;
      font:normal 16px/52px "Noto Sans KR"; color:black;
  }
  
  div#contents_covid_control_wrap{
      width:313px; height:50px;
      position:absolute; right:0%; bottom:10%;
  }
  div#contents_covid_control_wrap ul li{
      color:black;
  }
  
  
  /* 3페이지 - 동영상 */
  div#video_contents_bg{
    background:black;
  }
  div#contents_video{
      width:1030px; height:578px; 
      position: absolute; left:50%; margin-left:-515px; top:50%; margin-top:-289px;
  }
  div#contents_video>embed{
      width:100%; height:100%;
  }
  
  div#contents_video>img{
      width:100%;
  }
  
  /* p#contents_02_play_bar{
      width:85.83%; height:5px; background: #5b5b5b; 
      margin:39px auto;  
  } */
  
  /* 4페이지 -제품정보 */
  h2.contents_title{
      margin:0px auto; font:normal 20px "Noto Sans KR"; text-align: center; padding-bottom: 5px; margin-bottom: 50px; 
      /* position: absolute; left:50%; top:0px; margin-left:-38px; */
      margin-top: 130px;
  }
  /* h2.contents_title::after{
      content:""; display:block;
      width:auto; height:1px; background:royalblue;
  } */
  h2#contents_product_title_bar{
      width:85px; border-bottom: solid 1px black;
  }
  
  ul#product_info_list{
      width:100%; height:490px; overflow: hidden;
  }
  ul#product_info_list>li{
      width:290px; height:100%; margin:0px 5px; float:left; transition:0.5s ease;
      position:relative; left:0px; top:0px; 
      /* margin-top:205px; */
  }
  ul#product_info_list>li>img{
      width:100%; 
  }
  /* 이미지 하단 제품 설명 */
  div.product_text{
      width:100%; position:absolute; left:30px; bottom:30px;
  }
  p.product_name{
      font:bold 18px "Noto Sans KR"; 
  }
  p.product_explain{
      font:normal 16px "Noto Sans KR"; margin-top:10px;
  }
  
  /* 마우스 오버시 뜨는 제품 설명 창 */
  div.product_detail_info{
    width:100%; height:100%; background:#002B5C; opacity:0.9;
    position:absolute; left:0px; top:490px; padding-top: 189px; box-sizing: border-box;
  }
  p.product_font_color{
    color:white; margin-left:30px; 
  }
  
  
  /* 자세히보기 버튼 설정 */
  button.more_product_btn{
    width:180px; height:52px;  border:solid 1px black; text-align: center; 
    position:relative; left:50%; margin-left:-90px; top:0px;
    margin-top:84px; font:normal 16px/52px "Noto Sans KR";
    background: none; cursor: pointer;
  }
  button.img_btn_border{
     border-color:white; margin-top: 80px; color:white;
  }
  
  /* 5페이지 - 소식 */
  h2#notice_title_bar{
      width:50px; border-bottom: solid 1px black;
  }
  
  /* 탭메뉴 */
  div#notice_tabmenu_wrap{
      width:561.5px; height:354px; float:left; margin-right:48.5px;
  }
  
  ul#tabmenu_list{
      width:80%; height:52px; float:left;
      border:solid 1px black; box-sizing: border-box;
      border-bottom: none;
  }
  ul#tabmenu_list>li{
      width:33.3335%; height:100%; float:left; text-align:center; 
      border-right:solid 1px black; box-sizing: border-box;
  }
  ul#tabmenu_list>li>a{
      display: block; width: 100%; height: 100%; font:normal 14px/52px "Noto Sans KR"; text-decoration: none; color:black;
  }
  ul#tabmenu_list>li:last-child{
      border-right:none;
  }
  /* ul#tabmenu_list>li.selected{
      background:#3F3F3F;
  } */
  ul#tabmenu_list>li>a.selected{
      width:100%;background:#3F3F3F; color:white;
  }
  
  ul#panel_list{
    width:100%; height:338px; border-top: solid 1px black; float:left; 
  }
  ul#panel_list>li{
    width:100%; height:100%; padding:0px; box-sizing: border-box;
  }
  ul#sub_panel_list{
      width:100%; height:100%; 
  }
  ul#sub_panel_list>li{
      width:100%; height:16.67%;  
  }
  ul#sub_panel_list>li>a{
      font:normal 14px/56.33px "Noto Sans KR"; text-decoration: none; color:black;
      display:block; position:relative; left:0px; top:0px;
  }
  ul#sub_panel_list>li>a>span{
      text-align: right; position:absolute; right:0px; top:0px; 
  }
  
  p.notice_icon{
      width:36px; height:23px; font-size:14px; float:left; border:solid 1px black;
      line-height: 23px; text-align: center; 
      margin-top:17px; margin-right:12px;
  }
  p.notice_icon{
      text-decoration: none; color:black;
  }
  p#tabmenu_plus_icon{
      text-align: right;
  }
  p#tabmenu_plus_icon>a{
      /* text-align: right;  */
      font:normal 11px/52px "Noto Sans"; text-decoration: none; color:black;
  }
  /* 팝업 */
  div#notice_popup_wrap{
      width:588px; height:368px; float:left; 
      position:relative; left:0px; top:23px;
      margin-bottom:30px; overflow: hidden; 
  }
  p.notice_sub_title{
      font:normal 18px "Noto Sans KR"; margin-bottom: 4px;position:absolute; left: 0px; top: -33px;
  }
  p#popup_title{
      float:left; 
  }
  
  div#popup_visual_wrap{
      width:100%; height:338px; position: absolute; left: 0px; bottom: 0px; 
    }
    ul#popup_visual_list{
        width:100%; height:100%; float:left;  position: absolute; left: 0px; bottom: 0px;
    }
    ul#popup_visual_list>li{
        width:33.334%; height:100%; float:left; 
    }
    ul#popup_visual_list>li>img{
        width:100%;
    }
    div#popup_control_wrap{
        width: 530px; height: 15px; position: absolute; right:0px; top:-25px;
    }
    ul#popup_btn_wrap{
        width:95px; height:100%; float:left; 
    }
    ul#popup_btn_wrap>li{
        width:33.33%; text-align: center; float:left;
    }
    ul#popup_btn_wrap>li>a{
        font-size:15px; color:black; line-height:15px; text-decoration:none;
    }
    
    p#popup_play{
        font-size: 25px; color:black; position: absolute; top: -5px; left: 39px;z-index: -1; opacity: 0;
    }
    ul#popup_slide_gather{
        width:52px; height:13px; float:left;
        position: absolute; right:0px; top:6px;
    }
  ul#popup_slide_gather>li{
    width:13px; height:13px; border-radius: 6px; background: #c4c4c4; float:left; margin-right:6px;
  }
  ul#popup_slide_gather>li:last-child{
    margin-right:0px;
  }
  ul#popup_slide_gather>li.selected{
      background:#6A6A6A;
  }
  
  /* 영상 */
  div#notice_movie_wrap{
      width:589px; height:204px; float:left; margin-right:20px;
      clear:both; margin-top:13px; 
  }
  ul#movie_list{
      width:100%; height:155px; margin-top:28px; 
  }
  ul#movie_list>li{
      width:183px; height:100%; margin-right:20px; float:left; text-align: center;
  }
  ul#movie_list>li:last-child{
      margin-right:0px;
  }
  ul#movie_list>li>a{
      text-decoration: none; color:black;
  }
  p.movie_link{
      width:183px; height:100px; margin-bottom:35px; 
  }
  p.movie_link>embed{
      width:100%; height:100%; 
  }
  p.movie_news_title{
      width:100%; height:19px; font:normal 16px/19px "Noto Sans KR"; 
  }
  
  
  /* 뉴스 */
  div#notice_news_wrap{
      width:591px; height:203px; float:left; margin-top: 8px;
  }
  ul#news_list{
      width:591px; height:174px; margin-top:8px;
  }
  ul#news_list>li{
      width:183px; height:100%; margin-right:21px; float:left; text-align: center;
  }
  ul#news_list>li:last-child{
      margin-right:0px;
  }
  ul#news_list>li>a{
      text-decoration: none; color:black;
  }
  p.news_link{
      width:183px; height:144px; margin-bottom:11px;
  }
  p.news_link>img{
      width:100%;
  }
  /* 컨텐츠영역설정 끝 */
  
  /* 하단영역설정 시작 */
  footer#footer_wrap{
      width:100%; height:277px; float:left;
      border-top:solid 1px black;
      margin-bottom:30px; position: relative; left: 0px; top: 0px;
  }
  /* 하단메뉴 */
  div#footer_menu{
    width:100%; height:94px;
    border-bottom: solid 1px black;
  }
  ul#footer_menu_list{
      width:1200px; height:94px; margin:0px auto;
  }
  ul#footer_menu_list>li{
      width:200px; height:100%;  float:left; text-align: center; 
  }
  ul#footer_menu_list>li>a{
      font:normal 18px/94px "Noto Sans KR"; text-decoration: none; color:black;
  }
  ul#footer_menu_list>li:last-child{
      margin-right:0px;
  }
  
  div#footer_inner{
      width:1200px; margin:0px auto;
      position: relative; left:0px; top:0px;
      padding-top:35px; box-sizing:border-box;
  }
  div#footer_text{
      width:590px; height:150px; float:left; 
  }
  p.footer_phone_address{
      font:normal 19px "Noto Sans KR"; margin-bottom:15px;
  }
  p.footer_phone_address>span{
      font:normal 16px "Noto Sans KR";
  }
  p#footer_copyright{
      font:normal 12px "Noto Sans";
  }
  
  ul#footer_sns_icon_list{
      width:415px; height:54px; margin-bottom:29px;  float:right;
      margin-top:39px;
  }
  ul#footer_sns_icon_list>li{
      width:54px; height:54px; float:left; border-radius: 27px; background:#C9C9C9; margin-right:36px; text-align: center; line-height: 54px;
  }
  ul#footer_sns_icon_list>li:last-child{
      margin-right:0px;
  }
  ul#footer_sns_icon_list>li>a{
    font-size:24px; color:white; 
  }
  
  
  ul#footer_site_map{
      width:auto; height:19px; float:right; 
  }
  ul#footer_site_map>li{
      height:100%; text-align:center; float:left; padding:0 7px;
      position: relative; left:0px; top:0px;
  }
  ul#footer_site_map>li>a{
      font:normal 14px/19px "Noto Sans KR"; color:black; text-decoration: none; 
  }
  ul#footer_site_map>li::before{
      content:""; display:block;
      width:1px; height:14px; background:black;
      position:absolute; left:0px; top:4px; 
  }
  ul#footer_site_map>li:first-child::before{
      display:none;
  }
  ul#footer_site_map>li:last-child{
      border-right:none;
  }
  /* 하단영역설정 시작 */
  
  
  
  
  